.overlay {
  position: fixed;
  z-index: 2;
  background-color: $colorBackground;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity, backdrop-filter;
  backdrop-filter: blur(8px);

  &--shown {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
  }
}
