.page {
  min-width: 320px;
  margin: 0;
  font: #{$fontSizeText}/#{$lineHeightLarge} $fontFamilyText;
  color: $colorText;
  background-color: $colorBackground;

  @media (min-width: 1280px) {
    font-size: $fontSizeTextLarge;
  }
}

.page__header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.page__features {
  margin-bottom: -31px;

  @media (min-width: 768px) {
    margin-bottom: -30px;
  }

  @media (min-width: 1280px) {
    margin-bottom: -20px;
  }
}

.page__slider {
  @media (min-width: 1280px) {
    margin-bottom: -12px;
  }
}
