.page {
  min-width: 320px;
  margin: 0;
  font: #{$fontSizeText}/#{$lineHeightLarge} $fontFamilyText;
  color: $colorText;
  background-color: $colorBackground;

  @media (min-width: 1280px) {
    font-size: $fontSizeTextLarge;
  }
}

.page__header {
  position: sticky;
  top: 0;
}
